
@{
    ViewBag.Title = "Active";
    Layout = "~/Views/Shared/_AdminLayouts.cshtml";
}

<h2>Active</h2>
<table class="table thead-dark">
    <thead class="thead-inverse">
        <tr class="">
            <th>
                User Name
            </th>
            <th>
                Full Name
            </th>
            <th>
                Gender
            </th>

            <th>
                Age
            </th>
            <th>
                Weight
            </th>
            <th>
                Blood Group
            </th>
            <th>
                Mobile Number
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>


            <th></th>
        </tr>

    </thead>

    @foreach (var User in ViewBag.Users)
    {

        <tr>
            <td>
                @User.userName
            </td>
            <td>
                @User.fullName
            </td>
            <td>
                @User.gender
            </td>
            <td>
                @User.age
            </td>
            <td>
                @User.weight
            </td>
            <td>
                @User.bloodGroup
            </td>
            <td>
                @User.mobileNumber
            </td>
            <td>
                @User.email
            </td>
            <td>
                @User.address
            </td>


        </tr>
    }

</table>



